[submodule "deluge"]
	path = deluge
	url = git@github.com:mafredri/asustor-deluge
[submodule "sonarr"]
	path = sonarr
	url = git@github.com:mafredri/asustor-sonarr
[submodule "qbittorrent"]
	path = qbittorrent
	url = git@github.com:mafredri/asustor-qbittorrent
[submodule "rtorrent"]
	path = rtorrent
	url = git@github.com:mafredri/asustor-rtorrent
[submodule "jackett"]
	path = jackett
	url = git@github.com:mafredri/asustor-jackett
[submodule "libcec"]
	path = libcec
	url = git@github.com:mafredri/asustor-libcec
[submodule "radarr"]
	path = radarr
	url = https://github.com/mafredri/asustor-radarr
