[submodule "deluge"]
	path = deluge
	url = git@github.com:mafredri/asustor-deluge
[submodule "sonarr"]
	path = sonarr
	url = git@github.com:mafredri/asustor-sonarr
[submodule "qbittorrent"]
	path = qbittorrent
	url = git@github.com:mafredri/asustor-qbittorrent
