[submodule "deluge"]
	path = deluge
	url = git@github.com:mafredri/deluge-apkg
[submodule "sonarr"]
	path = sonarr
	url = git@github.com:mafredri/sonarr-apkg
[submodule "qbittorrent"]
	path = qbittorrent
	url = git@github.com:mafredri/qbittorrent-apkg
